/* CSS Reset 
	Eric Meyer's REset CSS 2.0

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5 ,h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

body{
	line-height: 1;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: "";
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid */

* {
	box-sizing: border-box;
}

.container{
	margin: 0 3%;
}

.container-f{
	margin: 0;
}

.row{
	clear: both;
}

[class*="col"]{
	display: inline;
	float: left;
	/* margin-left: 3%; */
}

/* Columns */

.col-1{
	width: 8.333333%;
}

.col-2{
	width: 16.6666666%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.333333%;
}

.col-5{
	width: 41.6666666%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.333333%;
}

.col-8{
	width: 66.66666%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.333333%;
}

.col-11{
	width: 91.666666%;
}

.col-12{
	width: 100%;
}

.test {
	background-color: white;
}

@media only screen and (min-width: 768px){

	.m-col-1{
		width: 8.333333%;
	}

	.m-col-2{
		width: 16.6666666%;
	}

	.m-col-3{
		width: 25%;
	}

	.m-col-4{
		width: 33.333333%;
	}

	.m-col-5{
		width: 41.6666666%;
	}

	.m-col-6{
		width: 50%;
	}

	.m-col-7{
		width: 58.333333%;
	}

	.m-col-8{
		width: 66.66666%;
	}

	.m-col-9{
		width: 75%;
	}

	.m-col-10{
		width: 83.333333%;
	}

	.m-col-11{
		width: 91.666666%;
	}

	.m-col-12{
		width: 100%;
	}

	.test{
		background-color: yellow;
	}
}

@media only screen and (min-width: 1220px){

	.l-col-1{
		width: 8.333333%;
	}

	.l-col-2{
		width: 16.6666666%;
	}

	.l-col-3{
		width: 25%;
	}

	.l-col-4{
		width: 33.333333%;
	}

	.l-col-5{
		width: 41.6666666%;
	}

	.l-col-6{
		width: 50%;
	}

	.l-col-7{
		width: 58.333333%;
	}

	.l-col-8{
		width: 66.66666%;
	}

	.l-col-9{
		width: 75%;
	}

	.l-col-10{
		width: 83.333333%;
	}

	.l-col-11{
		width: 91.666666%;
	}

	.l-col-12{
		width: 100%;
	}

	.test{
		background-color: green;
	}
}


/* Typography */

body{
	font: 100%  Arial, serif;
}

/* Content */

.top-header{
	background-color: #111;

	padding-bottom: 10px;
}

.title-container{
	padding-left: 30px;
	padding-top: 5px;
}
.top-header .text{
	display: inline-block;

	text-transform: uppercase;

	font-size: 1.1em;
	color: #777;
}

.top-header .text .cap{
	font-size: 1.3em;
}

.viking-icon{
	width: 35px;
	height: 35px;

}

.top-header .divider:after{
	content: "|";
	margin-left: 5px;
}

.login-container{
	margin-top: 15px;
}

.login-container > p{
	margin-left: 20px;
}

.top-header p > a {

	font-size: 0.8em;
	color: #0088cc;
	text-decoration: none;
}

.top-header p > a:hover{
	text-decoration: underline;
}

.space{
	height: 75px;
}

.main-headline{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("assets/pics/main-background.jpg");

	background-size: 100%;
	background-position: 0 -100px;


	
	height: 530px;
}

.headline-text-container p{
	font: 2.5em serif;
	font-weight: ;
	color: #fff;
	text-align: center;
}

.subheadline-text-container{
	margin-top: 40px;
}

.subheadline-text-container p{
	text-align: center;

	font: 1.3em sans-serif;

	color: orange;
}

.learn-button-container{
	margin-bottom: 30px;
}

.link-decoration{
	text-decoration: none;
}

.button{
	display: block;

	width: 35%;
	margin: 0 auto;
	background-color: green;

	border-radius: 10px;
	padding: 20px 0;

	text-align: center;
	color: #fff;
	font-size: 1.3em;

}

.learn-more-text{
	margin-top: 20px;

	text-align: center;
	color: #fff;
	font-size: 0.8em;
}

/* Misc */

.empty-div{
	height: 20px;

}

.blue{
	background-color: blue;
}

.red{
	background-color: red;
}